.experience-item
    .card
        min-height: 180px
        transition: 0.5s linear
        
        &:hover
            background: black
            transform: scale(1.1)
            z-index: 1
            cursor: pointer

            .card-title, .card-description
                color: white!important